{% extends 'admin.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <section class="padding">
        <header class="split center">
            <h1>Blog index</h1>
            <a class="button primary" href="{{ path('app_blog_new') }}">Create new</a>
        </header>

        <div class="card-body stack" style="--gap: 0.75rem;">
            <p class="no-margin">Manage all blog posts from one place.</p>

            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Intro</th>
                        <th>Publish date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for blog in blogs %}
                        <tr>
                            <td>{{ blog.name }}</td>
                            <td>{{ blog.intro }}</td>
                            <td>{{ blog.publishDate ? blog.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="now">
                                <div class="cluster">
                                    <a class="button ghost mini" href="{{ path('app_blog_show', {'id': blog.id}) }}">Show</a>
                                    <a class="button primary mini" href="{{ path('app_blog_edit', {'id': blog.id}) }}">Edit</a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">No records found.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
