<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ include('_meta.html.twig') }}
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<twig:ThemeSettings />
<header class="header border">
    <a href="{{ path('app_home') }}" class="fs-s"><strong>Hello graffiti</strong></a>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="{{ path('app_about') }}">About</a></li>
            <li><a href="{{ path('app_dashboard') }}">Dashboard</a></li>
        </ul>
    </nav>
</header>
{% block body %}{% endblock %}
</body>
</html>
